/*
#FF80AC
#E874C7
#F98CFF
#CB74E8
#CB8CFF
*/



/* GENERAL ===================================================*/
h1{
    color: black;
}

.top-pad{
    padding-top: 20px;
}

body{
    background: rgb(255,177,204);
    background: radial-gradient(circle, rgba(255,177,204,1) 0%, rgba(255,236,243,1) 100%);
    background-attachment: fixed;
}

h2 span{
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    background: linear-gradient(180deg, rgba(255,128,172,1) 0%, rgba(153,11,60,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 5px double;
    border-radius: 10px;
    border-color: #cd0047;
}

.hr-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-section hr{
    flex: 1;
    border: none;
    height: 2px;
    background: #cd0047;
    opacity: 1.0;
}

.hr-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.hr-plus hr{
    flex: 1;
    border: none;
    height: 1px;
    background: #cd0047;
}

.showMore{
    border: 1px solid #cd0047;
    color: #cd0047;
    opacity: .5;
    background-color: #FFD9E6;
}

.createCustom{
    border: 1px solid #cd0047;
    color: #cd0047;
    opacity: .5;
    background-color: #FFD9E6;
    font-weight: bold;
}

/* NAVBAR ===================================================*/
.navbar {
  
    background-color: #FF80AC;
  
}
.nav-item {
    font-family: 'Quando', serif;
    font-size: larger;
}

.nav-title {
    font-family: 'Quando', serif;
    font-size: 3em;
}

.navbar {
    padding-top: 0;
    box-shadow: 0 2px 5px 0 rgba(218, 195, 195, 0.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.nav-item:hover::after{
  width: 100%;
  transition: width .3s; 
}
.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: white;
  transition: width .3s;
}

/* Banner ==================================== */

.bannerNoBorder{
    padding-top: 74px;
}

.bannerContainer{
    position: relative;
    background-color: white;
}

.bannerImg{
    width: 100%;
    opacity: 0.6;
}

.textBottomRight{
    position: absolute;
    bottom: -10px;
    right: 15px;
    font-size: 20px;
    font-family: 'Quando', serif;
}

.textBottomRightPlusPlus{
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 30px;
}

/* footer ==================================== */

footer{
    background-color: #FF80AC;
    color: black;
    font-family: 'Quando', serif;
}

#socialLinkNoDash a, #footerItemNoDash p a, .noDecorationLink{
    text-decoration: none;
    color: black;
}

.footer-item:hover::after{
    width: 100%;
    transition: width .3s; 
  }
.footer-item::after {
content: '';
display: block;
width: 0;
height: 5px;
background: white;
transition: width .3s;
}

.topNbottom{
    background-color: rgba(0, 0, 0, 0.05);;
}



/* colors ==================================== */

.color1{
    color: #FF80AC;
}

.color1-bg{
    background-color: #FF80AC;
}

/* Mise en forme des cards du testimonial */

.padding {
    padding: 5rem;
}

/* 
.card .card-body {
    padding: 1rem 1rem;
}

 */

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

td p {
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1.5rem;
}

h4 {
    line-height: .2;
}

.profile {
    margin-top: 16px;
    margin-left: 20%;
}

.profile-pic {
    width: 58px;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
}

/* Mise en forme du testimonial */

.testimonial .card-text{
    height: 50px;
}

.boxShadow{
    box-shadow: 0 12px 15px 0 rgba(225,128, 172, 0.8);
}


/* Mise en forme section Panier */

.detailCart, .montantPanier{
        -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 6px 7px 15px 0px rgba(255,128,172,0); 
        box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 6px 7px 15px 0px rgba(255,128,172,0);
        }

        .montantPanier{
            padding-left :2%;
            padding-top:2%;
            padding-bottom:2%;
            padding-right:2%;
        }

        /* Stylisation bouton retour en haut soft */

        a#cRetour{
            border-radius:3px;
            padding:10px;
            font-size:15px;
            text-align:center;
            color:black;
            background:rgba(153,11,60,0.45);
            position:fixed;
            right:20px;
            opacity:1;
            z-index:99999;
            transition:all ease-in 0.2s;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            text-decoration: none;
          }
          a#cRetour:before{ content: "\25b2"; }
          a#cRetour:hover{
            background:rgba(153,11,60,1);
            transition:all ease-in 0.2s;
          }
          a#cRetour.cInvisible{
            bottom:-35px;
            opacity:0;
            transition:all ease-in 0.5s;
          }
          
          a#cRetour.cVisible{
            bottom:20px;
            opacity:1;
          }