/*
#FF80AC
#E874C7
#F98CFF
#CB74E8
#CB8CFF
*/



/* GENERAL ===================================================*/
h1{
    color: black;
}

body{
    background: rgb(255,177,204);
    background: radial-gradient(circle, rgba(255,177,204,1) 0%, rgba(255,236,243,1) 100%);
    background-attachment: fixed;
}

/* NAVBAR ===================================================*/
.navbar {
  
    background-color: #FF80AC;
  
}
.nav-item {
    font-family: 'Quando', serif;
    font-size: larger;
}

.nav-title {
    font-family: 'Quando', serif;
    font-size: 3em;
}

.navbar {
    padding-top: 0;
    box-shadow: 0 2px 5px 0 rgba(218, 195, 195, 0.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.nav-item:hover::after{
  width: 100%;
  transition: width .3s; 
}
.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: white;
  transition: width .3s;
}

.top-pad{
    padding-top: 80px;
}

/* footer ==================================== */

footer{
    background-color: #FF80AC;
    color: black;
    font-family: 'Quando', serif;
}

#socialLinkNoDash a, #footerItemNoDash p a, .noDecorationLink{
    text-decoration: none;
    color: black;
}

.footer-item:hover::after{
    width: 100%;
    transition: width .3s; 
  }
.footer-item::after {
content: '';
display: block;
width: 0;
height: 5px;
background: white;
transition: width .3s;
}

.topNbottom{
    background-color: rgba(0, 0, 0, 0.05);;
}



/* colors ==================================== */

.color1{
    color: #FF80AC;
}

.color1-bg{
    background-color: #FF80AC;
}

/* Mise en forme des cards du testimonial */

.padding {
    padding: 5rem;
}

/* 
.card .card-body {
    padding: 1rem 1rem;
}

 */

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

h4 {
    line-height: .2;
}

.profile {
    margin-top: 16px;
    margin-left: 20%;
}

.profile-pic {
    width: 58px;
}

.cust-name {
    font-size: 18px;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
}

/* Mise en forme du testimonial */

.card-text{
    height: 50px;
}

.boxShadow{
    box-shadow: 0 12px 15px 0 rgba(225,128, 172, 0.8);
}


/* Fin ajustements medias Queries */
